.venv/
.history/
__pycache__/

######## terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate.lock.info

######## django

# collectstatic で static ファイルが集約されるディレクトリ（STATIC_ROOT）
awesome-django-project/static/*
